{% extends "blog/base.html" %} {% block title %}About{% endblock %} {% block
content %}

<section class="about-us">
  <div class="about">
    <img src="/static/blog/images/random.jpg" class="pic" />
    <div class="text">
      <h3>About Me</h3>
      <h4>I'm Mehran RedRose. Python Backend Developer</h4>
      <br />
      <p>
        I am Mehran and you can call me RedRose. Also my age is 23 years old and
        I am Python Backend Developer
        <br />
        in
        <Nowhere>
        in Tehran.
        <br />
        <br />
        I make this application for Bachelor's Project of one my friends.
        <br />
      </p>
    </div>
  </div>
</section>

{% endblock %}
