{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="m-auto col-md-8">
        <div class="content-section">
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Change Password &#128477;</legend>
                    {% for instance in form %}
                        {{ instance | as_crispy_field }}
                        <p></p>
                    {% endfor %}
                </fieldset>
                <br>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">Change</button>
                </div>
                <br>
                <div class="border-top pt-3">
                    <a class="text-muted" style="text-decoration: none; color: #000000;"
                       href="{% url 'accounts:user_setting' %}">
                        For change information click me !
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}